$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  background-color: #fafafa;
}
.main-title{
  display: inline;
  float: left;
}

.modal-button {
  float: right;
  margin-top: 2em;
  margin-right: 2em;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #5e4245;
    margin-bottom: 1em;
    padding: 0;
}
ul {
  list-style: none;
}
.text-green {
  color: #67ab58;
  font-weight: bold;
}
.underline {
  border-style: none;
  border-bottom: solid #5e4245 2px;
  margin: 2em;
  width: 18em;
  background-color: #fefefe;
}
.btn-file {
  margin-right: 2em;
}
form {
  padding-bottom: 2em;
}
.input-title {
  background-color: #fafafa;
}
#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
/* The Modal (background) */
.modal {
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.required {
  color: #ff0000;
}
.center {
  text-align: center;
}
// .file-upload-container {
//   padding-left: 35%;
//
// }
.align-right {
  float: right;
  margin-right: 2em;
}

.input-group .form-control {
  width: 88% !important;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #444;
    width: 60%; /* Could be more or less, depending on screen size */
    overflow: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#sign-out {
  float: right;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
